<!--
  Another possibility might be to use figure counters:
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_counter_styles/Using_CSS_counters
-->
<!-- TODO: nested figure auto levels?! (and multiple levels of figure counters?!) meh, too difficult... for now, just manually specify index -->
<!-- Style should be moved into CSS... Might want to fork our own theme or something. And use tailwind for dark mode support or something. -->
{{- .Page.Scratch.Add "figureCounter" 1 -}}
{{- $figureClass := "" -}}
{{- if (or (eq (.Get "mode") "container") (eq (.Get "mode") "")) -}}
  {{- $figureClass = "block bg-white dark:bg-neutral-700 p-4 my-8 rounded-md shadow-md shadow-neutral-300 dark:shadow-neutral-800 text-center" -}}
{{- else if (eq (.Get "mode") "subfigure") -}}
  {{- $figureClass = "inline-block m-2 text-center" -}}
{{- end -}}
{{- (printf "<figure class=\"%s\" %s>" ($figureClass) (.Get "figureattrs")) | safeHTML -}}
{{- if (eq (.Get "mode") "container") -}}
  {{- .Page.Scratch.SetInMap "labels"
    (.Get "label") (.Page.Scratch.Get "figureCounter")
  -}}
  {{- .Page.Scratch.Set "subfigureCounter" 0 -}}
  {{- .Inner | markdownify -}} <!-- subfigures -->
  <figcaption>
    <b>Figure {{ .Page.Scratch.Get "figureCounter" }}.</b>
    {{ .Get "caption" | markdownify -}}
  </figcaption>
{{- else if (eq (.Get "mode") "subfigure") -}}
  {{- .Page.Scratch.Add "subfigureCounter" 1 -}}
  <!-- Convert subfigure counter to alpha letter -->
  {{- $subfigureCounterText := printf "%c"
    (add 96 (.Page.Scratch.Get "subfigureCounter"))
  -}}
  {{- .Page.Scratch.SetInMap "labels"
    (.Get "label") (printf "%d.%s"
      (.Page.Scratch.Get "figureCounter")
      ($subfigureCounterText)
    )
  -}}
  <!--
  Inter-subfigure spacing
  {{- if (ge (.Page.Scratch.Get "subfigureCounter") 2) -}}
    <div style="margin-bottom: 1.0em;"></div>
  {{- end -}}
  -->
  <!-- <img src="{{ .Site.BaseURL }}{{ .Get `src` }}" /> -->
  {{- (printf "<img src=\"%s%s\" %s />" (.Site.BaseURL) (.Get "src") (.Get "imgattrs")) | safeHTML -}}
  <figcaption>
    <b>({{ $subfigureCounterText }})</b>
    {{ .Get "caption" | markdownify -}}
    <!-- {{ .Inner | markdownify -}}   caption -->
  </figcaption>
  <div style="margin-bottom: 1.0em;"></div>
  {{- .Page.Scratch.Add "figureCounter" -1 -}}
{{- else -}}
  {{- .Page.Scratch.SetInMap "labels"
    (.Get "label") (.Page.Scratch.Get "figureCounter")
  -}}
  <!-- <img src="{{ .Site.BaseURL }}{{ .Get `src` }}" /> -->
  {{- (printf "<img src=\"%s%s\" %s />" (.Site.BaseURL) (.Get "src") (.Get "imgattrs")) | safeHTML -}}
  <figcaption>
    <b>Figure {{ .Page.Scratch.Get "figureCounter" }}.</b>
    {{ .Get "caption" | markdownify -}}
    <!-- {{ .Inner | markdownify -}}   caption -->
  </figcaption>
{{- end -}}
</figure>
